* {
    box-sizing: border-box;
}
html {
    background-image: url("../img/sample-image.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.container
{
    background-color: floralwhite;
    width: 800px;
    margin: 0 auto;
    /* Top, Right, Bottom, Left (Starting at Noon, 3h Increments Clockwise) */
    padding: 10px;
}